<!DOCTYPE html>

<html>
    <head>
        <title>Task App</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>headerAuth}}
            <p>Create your own digital recipe book with searchable ingredients. Go to recipes to get started!</p>
            
            <div class="center">
                <p>You are logged in!</p>
            </div>
            
        </div>
        {{>footer}}

    </body>

</html>