<!DOCTYPE html>

<html>
    <head>
        <title>Task App</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Create your own digital recipe book with searchable ingredients. Sign up now!</p>

            <form id="login-user" class="loginForm">
                <label for="uname"><b>E-mail</b></label>
                <input type="text" placeholder="Enter E-mail" name="uname" id="username" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="password" required>

                <div style="text-align: center;">
                    <button class="main" type="submit">Login</button>
                </div>
            </form>

            
            <form action="/createuser" method="GET" class="loginForm__btn">
                <div style="text-align: center;">
                    <button class="main" type="submit">Create user</button>
                </div>
            </form>
            

            <p style="color: red" id="message-1">{{message}}</p>
            

            

        </div>
        {{>footer}}

        <script src="/js/login.js"></script>
    </body>

</html>