<header>
    <h1>{{title}}</h1>

        <div>
            <a href="/">Main</a>
            <a href="/myrecipes">Recipes</a>
            <a href="/user">Your account</a>
            <a href="/about">About</a>

            <form action="/users/logout" method="post" class="logoutLblPos">
                 <button type="submit" class="button logout">Logout</button>
            </form>

        </div>

        <hr>

       

</header>
