<header>
    <h1>{{title}}</h1>

        <div>
            <a href="/">Main</a>
            <a href="/myrecipes">Recipes</a>
            <a href="/user">Your account</a>
            <a href="/about">About</a>

        </div>

        <hr>

       

</header>
